<p>Welcome to LiveQ! Please select a restaurant to reserve your place in line!</p>
<div id="restaurants">
    <a href="/check-in/la_ratatouille"><img src="../img/la-ratatouille.png"></a>
    <a href="/check-in/jack_rabbit_slims"><img src="../img/jack-rabbit-slims.jpg"></a>
    {{!-- Change these links to their restaurant_id stored in our restaurants table --}}
</div>
<p id="restaurant_login">(Are you a restaurant? <a href="/restaurant_login">Click here!</a>)</p>