<p>You are currently in reservation position...</p>
<h1 id="curPos">{{current_position}}</h1>
<p>Estimated wait time:</p>
<div id="waitTime"><p><div id="estimatedWaitTime">{{estimated_wait_time}}</div> minutes</p></div>
<br>
<p style="font-size: 12px"> (We only have estimated wait time for up to 10 people) </p>
