* {
    margin: auto;
}

#header_bar {
    width: 100%;
    min-width: 50rem;
    text-align: center;
    padding: 1rem;
}

#header_bar h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 5rem;
}

#page_body {
    font-family: sans-serif;
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
    width: 50rem;
    margin: 1rem auto;
}