form {
    text-align: left;
    margin: 1rem auto;
}

input {
    margin: 1rem 0rem;
    text-align: left;
}

#party_size {
    width: 2rem;
    text-align: center;
}

#phone_number {
    width: 5.5rem;
}