<p>Complete the form below to check in to the restaurant!</p>
<div id="check-in_form">
    <form>
        First Name: <input required type="text" name="first_name"><br/>
        Last Name: <input required type="text" name="last_name"><br/>
        Party Size: <input required type="number" name="party_size" min="1"><br/>
        Phone number: <input required type="text" name="phone_number"><br/>
        <input type="submit" value="Check In!">
    </form>
</div>