<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/{{page_type}}.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <meta charset="UTF-8">
    <title>LiveQ – Home</title>
  </head>
  <body>
    <div id="header_bar">
        <h1>LiveQ</h1>
    </div>
    <div id="page_body">
        {{body}}
    </div>
  </body>
</html>