<div id="check-in_form">
    <form method="POST">
        <p>Restaurant ID:</p>
        <input required type="text" name="restaurant_id"><br/>
        <input type="submit" value="Go to Dashboard">
    </form>
</div>