<p>You are currently in reservation position...</p>
<h1 id="curPos">{{current_position}}</h1>
<p>Estimated wait time:</p>
<div id="waitTime"><p><div id="estimatedWait">{{expected_wait}}</div> minutes</p></div>